.add_btn {
  padding: 15px 18px;
  background-color: #4CAF50;
  border-radius: 25px;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  margin: 10rem 3rem;
}

.show_actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
  width: 250px;
  height: 40px;
}

.table_actions a {
  text-decoration: none;
}

.table_actions i {
  margin-right: 2rem;
}


.back_to_races_form_btn {
  padding: 5px 80px;
  background-color: rgb(254, 165, 0);
  border: 1px solid rgb(215, 140, 0);
  border-radius: 4px;
  color: white;
  margin: 10rem 3rem;
  font-size: 14px;
  text-decoration: none;
}
