<nav class="navbar">
  <div class="logo">
    <%= link_to image_tag("https://docs.liveheats.com/images/logo.png", alt: "Logo"), races_path %>
  </div>

  <ul class="nav-links">
    <li>
      <%= link_to "Races", races_path %>
    </li>
    <li>
      <%= link_to "Students", students_path %>
    </li>
  </ul>
</nav>
